body {
    font-family: sans-serif;


}

.top {
    display: flex;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background: #bfbfbf;
    border-radius: 2vh;
}
.tekst{
    display: flex;
    align-items: center;
    font-size: 2vw;
}

.tekst a {
    text-decoration: none;
    color: black;
}

.push {
    margin-left: auto;
    display: flex;
    align-items: stretch;
}
.push img {
    height: 3em;
    width: auto;
    object-fit: contain;
    display: block;
}
 h1 {
     font-size: 4vh;
     text-align: center;
 }

 .sinine {
     font-size: 4vh;
     color: lightblue;
 }

 .sisselogimine {
     text-align: center;
 }
 .keskosa {
     align-items: center;
     padding: 1vw;
     margin: auto;
     width: 50%;
     box-sizing: border-box;
     background: #bfbfbf;
     border-radius: 2vh;

 }
 .vahe {
     margin: 5vw auto;
 }

